# User specific configuration files and directories
.vs
.vscode
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Dotnet core output directories
[bB]in/
[oO]bj/
[dD]ebug/
[dD]ebugPublic/
[rR]elease/
[rR]eleases/
x64/
x86/

# Dotnet core specific files
project.lock.json
project.fragment.lock.json
artifacts/
